body{
    background-color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.player{
    margin: 0px 0px;
    padding: 0%;
}
.player img{
    height: 80vh;
    width: 100%;
}

.title h1{
    color: white;
    font-size: 50px;
    padding-left: 20px;
}

h2{
    color: white;
    font-size: 40px;
    padding-left: 20px;
}

.content p{
    color: white;
    font-size: 25px;
    padding-left: 20px;
    font-weight:100

}

.creator p{
    color: white;
    font-size: 25px;
    padding-left: 20px;
    font-weight:100

}

.character p{
    color: white;
    font-size: 25px;
    padding-left: 20px;
    font-weight:100

}

ul{
    list-style: none;
    display: flex;
    font-size: 25px;
    justify-content: center;
    
}
ul li{
    color: white;
    margin: 0px 80px;
    margin-top: 50px;
    display: inline-grid;
    text-align: center;
}

ul li .material-symbols-outlined{
    font-size: 60px;
    color: #9658FC;
    font-weight: bolder;

}

ul li:hover .material-symbols-outlined{
    font-size: 60px;
    color:white;
    font-weight: bolder;
}


.list h1{
    float: left;
    font-size: 70px;
    font-weight: bolder;
    padding-top: 60px;
    background-color: #9658FC;
    color: white;
    width: 200px;
    height: 140px;
    border-radius: 5vh;
    margin: 10px 10px;
    text-align: center;
}

.list h1:hover{
    background-color: #17003C;
}

.list{
    width: 100%;
    margin-left: 10px;
    overflow: hidden;
    
}

/*******************************************************************************************************/
.wrapper .sidebar{
	background: black;
	position: fixed;
	top: 0;
	left: -225px;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 100px;
	height: 100px;
    border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 14px;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	
	color: white;
	font-size: 16px;
	position: relative;
    font-weight: bold;
}

.wrapper .sidebar ul li a .icon{
	color: #9658FC;
	width: 30px;
	display: inline-block;
}

 

.wrapper .sidebar ul li a:hover{
	color: black;

	background:white;
    border-right: 2px solid #9658FC;;
}

.wrapper .sidebar ul li a:hover .icon{
	color: black;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}

.wrapper .section{
	
	transition: all 0.5s ease;
    margin-left: 0;
	width: 100%;
}

.wrapper .section .top_navbar{
	background: black;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 30px;
 
}

.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
	color: #a2ecff;
}

 

body.active .wrapper .sidebar{
	left: 0px;
}

body.active .wrapper .section{
	
    width: calc(100% - 225px);
	margin-left: 225px;
}

/************************************ SIDE BAR *******************************************************/
